{% extends "olfy/Ahuja labs website/base.html" %}
{% load static %}
{% block loadhead %}
<style>
  	iframe {
		top: 0;
		left: 0;
		width: 100%;
		min-height: 40vh;
  	}
</style>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="mt-5 row">
			<div class="p-3 order-1 order-md-0 col-12 loadFade h-md-100 d-flex flex-column align-items-center text-center text-white">
				<h1 class="d-none d-md-block display-3">
					Tutorial
				</h1>
				<h1 class="d-block d-md-none">
					Tutorial
				</h1>
				<iframe class="mt-4 rounded-lg" width="320px" height="500px" src="https://www.youtube.com/embed/KR0g-1hnQPA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="mt-5 row">
			<div class="p-3 order-1 order-md-0 col-12 loadFade h-md-100 d-flex flex-column align-items-center text-center text-white">
				<h1 class="d-none d-md-block">
					Input Format
				</h1>
				<h2 class="d-block d-md-none">
					Input Format
				</h2>
				<div class="text-left table-responsive">
					<table class="mt-5 table text-white">
						<thead>
						<tr>
							<th scope="col">Models</th>
							<th scope="col">Data Columns</th>
							<th scope="col">Extension/Input</th>
						</tr>
						</thead>
						<tbody>
						{% for i in tabledata %}
						<tr>
							<th scope="row">
								{{i.name}}
							</th>
							<td>
								{{i.columnames}}
							</td>
							<td>
								{{i.extension}}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="my-5 row">
			<div class="p-3 order-1 order-md-0 col-12 loadFade h-md-100 d-flex flex-column align-items-center text-center text-white">
				<h1 class="d-none d-md-block">
					Troubleshooting
				</h1>
				<h2 class="d-block d-md-none">
					Troubleshooting
				</h2>
				{% for i in troubleshoot %}
				<div class="text-left">
					<h5 class="mt-3">
						Q. {{i.ques}}
					</h5>
					<h5 class="mt-1">
						A. {{i.ans}}
					</h5>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}