{% extends "olfy/Ahuja labs website/base.html" %}
{% load static %}
{% block loadhead %}
<style>
	.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
	.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
	.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
	.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
	.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {   
		border-color: #00000000;
		box-shadow: 0 1px 1px #00000000 inset, 0 0 8px #00000000;
		outline: 0 none;
	}
</style>
{% endblock %}
{% block content %}
<div style="background: #000000; left: 0; top: 0px; z-index: 10000000;" id="loadingContent" class="d-none text-center position-absolute h-100 w-100">
	
	<div class="container">
		<div class="vh-100 row">
			<div class="p-3 order-1 order-md-0 col-md-6 loadFade h-md-100 d-flex flex-column align-items-center align-items-md-start justify-content-center text-center text-md-left text-white">
				<h1 id="loadingHeading" class="d-none d-md-block display-3">
					Loading...
				</h1>
				<h1 id="loadingHeading" class="d-block d-md-none">
					Loading...
				</h1>
				<h2 id="loadingText" class="d-none d-md-block mt-2">
					Please wait while we the results are being generated
				</h2>
				<h3 id="loadingText" class="d-block d-md-none mt-2">
					Please wait while we the results are being generated
				</h3>
				<h5 id="donotclose" class="text-gra mt-2 border-bottom border-dark">
					Please do not close this tab!
				</h5> <br />
				<a id='getTry' class="d-none" onclick="window.location.reload();">
					<button class="mt-3 btn btn-md btn-light">
						Try again
					</button>
				</a>
			</div>
			<div class="p-3 order-0 order-md-1 col-md-6 loadFade h-md-100 d-flex flex-column justify-content-center text-left text-white">
				<img class="w-100" src="/static/olfy/images/running.gif" />
			</div>
		</div>
	</div>
</div>
<div class="entireDoc container loadFade">
	<div class="mt-2 d-flex flex-column flex-md-row justify-content-between">
		<div class="d-flex mt-3 text-white">
			<h1 class="d-none d-md-block">
				Odorant Predictor
			</h1>
			<h2 class="d-block d-md-none">
				Odorant Predictor
			</h2>
			<svg data-toggle="tooltip" data-placement="top" title="Lorem Ipsum" width="20" height="20" viewBox="0 0 16 16" class="bi bi-patch-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
				<path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
			</svg>
		</div>
		<button class="mt-3 btn btn-sm border text-white" id="sample-input">
			Load Sample Input
		</button>
	</div>
	<div class="d-flex flex-column">
		<div class="my-5">
			<form method="post" id="upload-form" onsubmit="event.preventDefault(); getResult(this);" class="needs-validation" novalidate enctype="multipart/form-data" >
				{% csrf_token %}
				<div class="form-group border-bottom border-dark">
					<input required style="font-size: 25px;" type="text" id="jobtitle" name="job_name" class="border-0 bg-dark text-white form-control" placeholder="Job Name *">
				</div>
				<div class="row">
					<div class="col-md-6 border-right border-dark">
						<div class="border-bottom border-dark mt-4 form-group">
							<textarea required style="min-height: 200px; font-size: 25px;" name="smiles" id="job-desc" class="border-0 bg-dark text-white form-control" placeholder="Enter maximum of 25 enter-separated SMILES entries *"></textarea>
						</div>
						<small class="text-gra">
							Don't have smiles?
							<a href="/link">
								Find them here
							</a>
						</small>
					</div>
					<div class="col-md-6 d-flex flex-column align-items-center text-center justify-content-center">
						<h4 class="text-white">
							OR <br /> Upload a csv
						</h4>
						<input style="width: 270px;" class="btn btn-lg rounded-lg border-0 shadow-lg text-white" type="file" id="upload-photo" name="myfile"></input>
					</div>
				</div>
				<div class="mt-3 form-group border-bottom border-dark">
					<input style="font-size: 25px;" name="email" id="email" type="email" class="border-0 bg-dark text-white form-control" placeholder="Enter email to get results(optional)" aria-describedby="emailHelp">
				</div>
				<div class="mt-5 d-flex flex-row justify-content-center">
					<input type="submit" class="btn btn-lg rounded-lg border-0 shadow-lg bg-white text-dark" value="Submit" />
					<button id="clear" class="ml-3 btn btn-lg rounded-lg border shadow-lg bg-dark text-white">Clear</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.7/papaparse.min.js"></script>
	<script>
		const clear= document.querySelector('#clear');
		const jobTitle= document.querySelector('#jobtitle');
		const jobDesc= document.querySelector('#job-desc');
		const sampleInput= document.querySelector('#sample-input');
		clear.addEventListener('click', e => {
			e.preventDefault();
			jobTitle.value= '';
			jobDesc.value= '';
		});
		sampleInput.addEventListener('click', e => {
			e.preventDefault();
			jobTitle.value= 'Odor';
			jobDesc.value= `CC(=C)[C@H]1CCC(=CC1)C\nCc1oc(C)c(SC(=O)c2occc2)c1`;
		});
		var mob = [];
		$("input[type=file]").change(function(){
			$("input[type=file]").parse({
				config: {
					delimiter: "",
					newline: "",
					quoteChar: '"',
					header: false,
					complete: function(results, file) {
						if(file.name.endsWith('.csv')){
							jobDesc.value= '';
							for(var i=0; i<results.data.length;i++){
								for(var j=0; j<results.data[i].length;j++){
									if(results.data[i][j]) jobDesc.value+=results.data[i][j]+'\n';
								}
							}
						}
					}
				}
			});
		});
		function showError(){
			$('#loadingHeading').text('Oops!!');
			$('#loadingText').text('Error message daal lena.');
			$('#getTry').removeClass('d-none');
			$('#donotclose').addClass('d-none');
		}
		function getResult(a){
			if (document.getElementById('upload-form').checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
				$('#upload-form').addClass('was-validated');
				return;
			}
			$("#loadingContent").removeClass('d-none');
			$(".entireDoc").addClass('d-none');
			//showError();
			$.post('/olfy/odor', $('#upload-form').serialize(), function(result){
				let response= JSON.parse(JSON.stringify(result));
				if(response['code']==1){
					window.location.href='/olfy/results'
				}
				else{
					console.log(response);
					showError();
				}
			});
		}
	</script>
{% endblock %}