{% extends "olfy/Ahuja labs website/base.html" %}
{% load static %}
{% block content %}
{% include "./loader.html" %}
<div class="entireDoc container loadFade">
	<div class="mt-2 d-flex flex-column flex-md-row justify-content-center">
		<div class="d-flex mt-3 text-white">
			<h1 class="d-none d-md-block">
				OR Finder
			</h1>
			<h2 class="d-block d-md-none">
				OR Finder
			</h2>
			<svg data-toggle="tooltip" data-placement="top" title="Prediction of the potentially cognate Olfactory Receptor of user supplemented odorants" width="20" height="20" viewBox="0 0 16 16" class="bi bi-patch-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
				<path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
			</svg>
		</div>
	</div>
	<div class="d-flex flex-column">
		<div class="my-5">
			<form method="POST" id="upload-form" onsubmit="event.preventDefault(); getResult(this);" class="needs-validation" novalidate enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group border-bottom border-dark">
					<input required style="font-size: 20px;" type="text" id="jobtitle" name="job_name" class="border-0 bg-dark text-white form-control" placeholder="Job Name *">
				</div>
				<div class="row">
					<div class="col-md-6 border-right border-dark">
						<div class="border-bottom border-dark mt-4 form-group">
							<textarea required style="min-height: 200px; font-size: 20px;" name="smiles" id="job-desc" class="border-0 bg-dark text-white form-control" placeholder="Enter maximum of 25 SMILES entries (Enter-Separated) *"></textarea>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<small class="text-gra">
								Don't have SMILES?
								<a href="https://pubchem.ncbi.nlm.nih.gov/">
									Find them here
								</a>
							</small>
							<button class="mt-3 btn btn-sm border text-white" id="sample-input">
								Load Sample Input
							</button>
						</div>
					</div>
					<div class="col-md-6 d-flex flex-column align-items-center text-center justify-content-center">
						<h4 class="text-white">
							or <br /> Upload a CSV (comma-seperated values)
						</h4>
						<input style="width: 270px;" class="btn btn-lg rounded-lg border-0 shadow-lg text-white" type="file" id="upload-photo" name="myfile"></input>
						<a class="mt-3 btn btn-sm btn-outline-light" href="{% static 'olfy/m2.csv' %}" download>
							Download Sample CSV
						</a>
					</div>
				</div>
				<div class="">
					<input id="typeTesting" name="typeOfTesting" value="Rapid Testing" class="d-none" />
					<button data-toggle="tooltip" data-placement="top" title="Slower, but more accurate" onclick="event.preventDefault(); $('#sample-rapid').removeClass('btn-btn-outline-light btn-light'); $('#sample-rapid').addClass('btn-outline-light'); $(this).removeClass('btn-light btn-outline-light'); $(this).addClass('btn-light'); $('#slider').addClass('d-none'); $('#normal-block').removeClass('d-none'); $('#normal_counter').val(5); $('#formControlRange').val(1); $('#typeTesting').val('Normal');" class="mt-3 btn btn-md border btn-outline-light" id="sample-normal">
						Normal Testing
					</button>
					<button data-toggle="tooltip" data-placement="top" title="Faster, but less accurate" onclick="event.preventDefault(); $('#sample-normal').removeClass('btn-btn-outline-light btn-light'); $('#sample-normal').addClass('btn-outline-light'); $(this).removeClass('btn-light btn-outline-light'); $(this).addClass('btn-light'); $('#normal-block').addClass('d-none'); $('#slider').removeClass('d-none'); $('#formControlRange').val(0.75); $('#normal_counter').val(10); $('#typeTesting').val('Rapid');" class="mt-3 btn btn-md border btn-outline-light" id="sample-rapid">
						Rapid Testing
					</button>
					<div class="d-none" id="normal-block">
						<label class="mt-4 text-white" for="normal_counter">
							Top K-Receptors
						</label>
						<svg data-toggle="tooltip" data-placement="top" title="Top-K unique Binding Receptors" width="20" height="20" viewBox="0 0 16 16" class="text-white" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
							<path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
						</svg><br />
						<input class="loadFade mt-4" type="number" id="normal_counter" name="normal_counter" value="5" min="1" max="10" step="1">
					</div>
					<div id="slider" class="d-none loadFade mt-4 text-white form-group">
						<label for="formControlRange">
							Threshold
						</label> &nbsp; <svg data-toggle="tooltip" data-placement="top" title="Tanimoto Similarity threshold for SMILES" width="20" height="20" viewBox="0 0 16 16" class="text-white" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
							<path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
						</svg><br />
						<input type="range" name="slider_value" step="0.01" min="0.5" max="1" value="0.75"class="form-control-range" id="formControlRange">
						<p>Value: <span id="demo"></span></p>
						<!-- <input style="font-size: 20px;" type="text" id="switch" name="switch" class="d-none" placeholder="Job Name *"> -->
					</div>
				</div>
				<div class="mt-3 form-group border-bottom border-dark">
					<input style="font-size: 20px;" name="email" id="email" type="email" class="border-0 bg-dark text-white form-control" placeholder="Enter email to get results (optional)" aria-describedby="emailHelp">
				</div>
				<div class="mt-5 d-flex flex-row justify-content-center">
					<input type="submit" class="btn btn-lg rounded-lg border-0 shadow-lg bg-white text-dark" value="Submit" />
					<button id="clear" class="ml-3 btn btn-lg rounded-lg border shadow-lg bg-dark text-white">Clear</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.7/papaparse.min.js"></script>
	<script>
		const clear= document.querySelector('#clear');
		const jobTitle= document.querySelector('#jobtitle');
		const jobDesc= document.querySelector('#job-desc');
		const sampleInput= document.querySelector('#sample-input');
		clear.addEventListener('click', e => {
			e.preventDefault();
			jobTitle.value= '';
			jobDesc.value= '';
		});
		sampleInput.addEventListener('click', e => {
			e.preventDefault();
			jobTitle.value= 'job_or_finder';
			jobDesc.value= `CC(=C)[C@H]1CCC(=CC1)C\nCC(=CCC/C(=C\CO)/C)C\nCC(=O)C1=CC=CC=C1\nCC1=CC[C@H](CC1=O)C(=C)C\nCCc1c[n+]2ccc3c4ccccc4[nH]c3c2cc1\nCc1oc(C)c(SC(=O)c2occc2)c1`;
		});
		var slider = document.getElementById("formControlRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value;
		slider.oninput = function() {
			output.innerHTML = this.value;
		}
		var mob = [];
		$("input[type=file]").prop("value", "");
		$("input[type=file]").change(function(){
			$("input[type=file]").parse({
				config: {
					delimiter: "",
					newline: "",
					quoteChar: '"',
					header: false,
					complete: function(results, file) {
						if(file.name.endsWith('.csv')){
							jobDesc.value= '';
							for(var i=0; i<results.data.length;i++){
								for(var j=0; j<results.data[i].length;j++){
									if(results.data[i][j]) jobDesc.value+=results.data[i][j]+'\n';
								}
							}
							console.log(mob);
						}
					}
				}
			});
		});
		function sendResults(){
			let valueEmail= document.getElementById('email2');
			if(valueEmail.checkValidity()){
				$.post('/olfy/sendResults', valueEmail.value, function(result){
					let response= JSON.parse(JSON.stringify(result));
					if(response['code']==1){
						console.log('Recorded succesfully!');
						$('#emailNotif').text('Recorded succesfully!');
					}
					else{
						console.log('Error recording!');
						$('#emailNotif').text("We've encountered an unexpected error!");
					}
				});
			}
			else{
				$('#emailNotif').text("Please enter a valid email.");
			}
		}
		function showError(){
			$('#errorWindow').removeClass('d-none');
			$('#errorWindow').addClass('d-flex');
			$('#loadingWindow').removeClass('d-flex d-none');
			$('#loadingWindow').addClass('d-none');
		}
		function getResult(a){
			if (document.getElementById('upload-form').checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
				$('#upload-form').addClass('was-validated');
				return;
			}
			$(".entireDoc").addClass('d-none');
			$("#loadingContent").removeClass('d-none');
			$('#errorWindow').removeClass('d-flex d-none');
			$('#errorWindow').addClass('d-none');
			$.post('/olfy/odor2', $('#upload-form').serialize(), function(result){
				let response= JSON.parse(JSON.stringify(result));
				if(response['code']==1){
					window.location.href='/olfy/results'
				}
				else{
					console.log(response);
					showError();
				}
			});
		}
	</script>
{% endblock %}
